.product-gallery{
    transition: 0.2s ease-in-out;
}

.product-gallery:hover #mainImage{
    background-size: 125%;
}

#purchase .highlight {
    display: inline-block;
    transition: transform 1.5s ease;
}

#purchase:hover .highlight{
    transform: rotate(360deg);
}